@import "../../App.module.scss";
.parent_container{
    width: inherit;
    height: inherit;
    flex-direction: row;
    background-color: rgb(81, 150, 211)


}
.upper_container{
    display:flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
   
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.upper_above_container{
    display:flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    flex-wrap: wrap;
    
}
.upper_above_left_container{
    display:flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    height: 80%;
    margin-top: 3%;
    
    width: 30%;
    flex-wrap: wrap;
  

}

.upper_above_right_container{
    display:flex;
    flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-left: 3%;
    height: 100%;
    width: 70%;
    flex-wrap: wrap;
   
}


.upper_below_container{
    display:flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    flex-wrap: wrap;
    
  
    
}

.upper_below_left_container{
    display:flex;
    flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
    height: 100%;
    width: 75%;
    flex-wrap: wrap;
    
    

}

.upper_below_right_container{
    display:flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    height: 100%;
    width: 25%;
    flex-wrap: wrap;
    
}

.special_span {
    flex: 2 1 100%;
   
  }
  
.lower_container{
    display:flex;
    height: 80%;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    


}
.responsive_span{
font-size: $h3_responsive;
}

.flex_ul{
    width: 80%;
    height: 80%;
    & li{
       
        font-size: 3vh;
        margin-bottom: 25%;
        padding-right: 35%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

.special_links{
text-decoration: none;
&:hover{
    color: whitesmoke;
    text-shadow: 0 0 10px rgb(241, 241, 255), 0 0 20px rgb(0, 17, 255);
}
&:not(hover){
        color:wheat;
        border-color: rgb(255, 255, 255);
    }
}

 